@charset "utf-8";

/*googleips 웹폰트 css 파일 불러오기*/
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Nanum+Gothic&display=swap');


* {margin:0; padding:0;}
html{font-size: 16px;}
body{ font-size:16px;
      color:#6f6f6f;
      font-family: 'Nanum Gothic', sans-serif }
ul, ol, li{list-style-type:none}
img, fieldset{border:none;vertical-align: middle}
hr {clear:both;border:none}
a {color:inherit;text-decoration:none; outline: 0;}/*조상님 색 따라가*/
table{border-collapse:collapse}
input, textarea,
input::placeholder, textarea::placeholder {color:inherit;font-size:inherit;
       font-family:inherit;
       vertical-align: middle;
       outline: 0;}
button{outline:0}/*선택할때 나오는 선을 안보이게 만듦*/

.sound_only{display: block; text-indent: -999999999999px; height: 0px;}/*웹접근성 때문에, 글씨가 화면에 보이지 않도록*/

.wrap{width: 100%;min-width: 1024px;overflow: hidden;}
.inner{min-width:1024px;max-width:1300px;margin:0 auto;}

/****************메인화면, 서브화면 공통영역 ************************************/
#nav_pop{position: fixed;width: 100%;min-width: 1024px;/*더이상 작아지지않도록*/
      height: 100%;overflow: auto;
      background-color: #F9F8F3;
      z-index: 999999999999999999;line-height: 30px; color: #000;display: none;
      }
    
#nav_pop .navpop_inner{width: 1024px;margin: 0 auto;}
#nav_pop #nav_iogo{margin-bottom: 30px;margin-top: 30px;
      border-bottom: 1px solid #6f6f6f;
}
#nav_pop img{width: 300px;height: 68px;
      margin-bottom: 50px;margin-top: 50px;
      padding-left:calc((100% - 300px) / 2);}
#nav_pop .depth1{}
#nav_pop .depth1 > li{width: 200px; margin-bottom: 100px;float: left;text-align: center;}
#nav_pop .depth1 > li > a{font-size: 1.3rem;margin-bottom: 20px;display: block;font-weight: bold;}



.wrap{width: 100%;min-width: 1024px;overflow: hidden;}
.inner{min-width:1024px;max-width:1280px;margin:0 auto;}

#header{background-color: #213031;height: 82px;}

/***.top_icon***/
#header .top_icon{float: right;
     height:75px;margin-right: 100px;
   }
#header .top_icon img{float: left; width: 24px; height: 25px; position: absolute;
      padding-left: 20px; padding-right: 20px;padding-top: 24.5px;}
#header .top_icon div{float: left; width: 64px; height: 74px;}

/* 네비off 상태일 때 디자인 */
#nav_pop_btn{display:block; width:30px;height:30px;position:absolute;
      right:50px;top:28px;
      display: inline-block;z-index:999999999999999999999999999999999999999999;
}

#nav_pop_btn span{position:absolute;height:2px; width:30px;
      background-color:#fff;transition:0.5s;
}
#nav_pop_btn span:first-child { top:0 }
#nav_pop_btn span:nth-child(2) { top: 8px;width: 20px;left: 10px;}
#nav_pop_btn span:last-child { top:16px}

/* 네비on 상태일 때 디자인 */
#nav_pop_btn.on span:first-child { top:13px; transform: rotate(45deg);background-color: #000;}
#nav_pop_btn.on span:nth-child(2) {width: 0;background-color: #000;}
#nav_pop_btn.on span:last-child { top:13px; transform: rotate(-45deg);background-color: #000;}


/***#logo***/
#header #logo{float:left; }
#header #logo img{width: 200px; height: 45px; margin-top:15px;margin-left: 95px;}


/***#nav4***/
#nav4{float: left;}
#nav4 .depth1 {margin-left:300px;}
#nav4 .depth1 > li {float:left;padding:0 30px}
#nav4 .depth1 > li > a {display: block;position: relative;
                        text-align: center;font:0.937rem;color:#F9F8F3;
                        font-weight: bold;line-height:75px;}
#nav4 .depth1 > li > a:after {content: '';height:5px; background-color:#F9F8F3;
                         position: absolute;width:0;display: block;
                         transition: 0.5s;}
#nav4 .depth1 > li:hover > a:after{width:100%}
#nav4 .depth1{position: static;}   


#nav4 .nav_box {position:absolute;/*top:calc(2.8rem + 25px);*/top:78px;left:0;width:100%;height: 250px;
               background-color:#F9F8F3;z-index:9999999999;
               display: none;
               padding:10px 0; color: #000;}

#nav4 .depth1>li:hover .nav_box{display: block;}   
#nav4 .nav_box .depth2{widows: 100%;;margin:0 auto;position: relative; 
                         /* text-align: center; */
                         padding-left: 100px; box-sizing: border-box;}
#nav4 .nav_box .depth2:after{content: '';display: block;clear: both;}
#nav4 .depth2 > li{ box-sizing: border-box;
                  padding:10px;padding-left: calc(50% - 400px);padding-top: 20px;}

#nav4 .depth2 >li::before{content:'';display: inline-block; width: 5px; height: 5px; 
                         background-color: #213031; border-radius: 50%;
                         margin-right: 20px; transform: translate(0,-3px);}
#nav4 .depth2 >li:last-child::after{display: none;}